
.wrapper
{
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    color: black !important;
    transform: translate(-50%, -50%) !important;

}

.pokeball {
  width: 60px !important;
  height: 60px !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  position: relative !important;
  overflow: hidden !important;
  border: 3px solid !important;
  animation: frames .8s  linear 0s infinite !important;
}

.pokeball:after{
  content: '';
  position: absolute !important;
  width: 60px !important;
  height: 30px !important;
  background-color: red !important;
  border-bottom: 4px solid !important;
  top: -4px !important
}

.pokeball:before{
  content: '';
  position: absolute !important;
  background-color: #fff !important ;
  width: 10px !important;
  height:10px !important;
  border: 4px solid !important;
  border-radius: 50% !important;
  bottom: 18px !important;
  right: 18px !important;
  z-index: 1 !important;
}

/* AnimationFrames */
@keyframes frames{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}